:root {
  --color-1: #2f303a;
  --color-2: #2196f3;
  --color-3: #757575;
  --color-4: #ffffff99;
  --color-5: #afb1b8;
  --color-6: #fff;
  --color-7: #212121;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--color-7);
  min-width: 1600px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
header {
  border-bottom: 1px solid #ececec;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000;
  letter-spacing: 0.03em;
}
.header-logo span {
  color: var(--color-2);
}
header nav {
  margin-right: 345px;
  margin-left: 93px;
  display: flex;
}
header nav > div {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav-link {
  text-decoration: none;
  color: var(--color-7);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header nav > div:not(:last-child) {
  margin-right: 46px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-underline-mark {
  position: relative;
}
.header-underline-mark > a {
  color: var(--color-2);
}
.header-underline-mark::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--color-2);
  border-radius: 2px;
  cursor: default;
  pointer-events: none;
}
header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  grid-gap: 30px;
}
.header-icon {
  fill: var(--color-3);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: var(--color-3);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover .header-icon,
.header-contact-link:focus .header-icon {
  fill: var(--color-2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--color-2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-order {
  background-color: var(--color-1);
  padding: 200px 452px 200px 452px;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url("../images/order.jpg");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
.studio-order h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-6);
  margin-bottom: 30px;
}

.studio-order button {
  font-family: "Roboto";
  background: var(--color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  color: var(--color-6);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 41px 10px 42px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-order button:hover,
.studio-order button:focus {
  background-color: #f5f4fa;
  box-shadow: 0px 3px 1px #2196f31a, 0px 1px 2px #2196f314,
    0px 2px 2px #2196f31f;
  color: var(--color-7);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-section-1 {
  padding-bottom: 0;
}
.studio-section-1 li > div {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}
.studio-section-1 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 30px;
}

.studio-section-1 h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.studio-section-1 p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-3);
}

.studio-section-2 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 50px;
}
.studio-section-2 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
}
.studio-section-2 li {
  position: relative;
}
.studio-section-2 img {
  display: block;
}
.studio-section-2 p {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.studio-section-3-background {
  background-color: #f5f4fa;
}

.studio-section-3 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.studio-section-3 ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 30px;
  object-fit: contain;
}
.studio-section-3 figure {
  background: var(--color-6);
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
}
.studio-section-3 figcaption {
  padding: 30px 32px;
}
.studio-section-3 h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.studio-section-3 p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-3);
}
.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  grid-gap: 10px;
}

.social-links a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--color-5);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links a:hover,
.social-links a:focus {
  fill: var(--color-6);
  background-color: var(--color-2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-section-4 h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.studio-section-4 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.studio-section-4 a {
  display: block;
  border: 1px solid var(--color-5);
  border-radius: 4px;
  padding: 17.71px 32px 14.25px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-section-4 li:not(:last-child) {
  margin-right: 30px;
}
.studio-icon {
  fill: var(--color-5);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-section-4 a:hover,
.studio-section-4 a:focus {
  border-color: var(--color-2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-section-4 a:hover .studio-icon,
.studio-section-4 a:focus .studio-icon {
  fill: var(--color-2);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}
.backdrop > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--color-6);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.backdrop-close-button {
  fill: #000;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.portfolio-section-1-list-1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-section-1-list-1 button {
  font-family: "Roboto";
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  padding: 6px 22px 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-1 button:hover,
.portfolio-section-1-list-1 button:focus {
  background-color: var(--color-2);
  box-shadow: 0px 3px 1px #0000001a, 0px 1px 2px #00000014,
    0px 2px 2px #0000001f;
  color: var(--color-6);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-2 {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
.portfolio-section-1-list-2 li {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-2 li:hover,
.portfolio-section-1-list-2 li:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-2 figure {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.portfolio-section-1-list-2-animation {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  background-color: #2196f3e6;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-6);
  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-2 figure:hover .portfolio-section-1-list-2-animation,
.portfolio-section-1-list-2 figure:focus .portfolio-section-1-list-2-animation {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-section-1-list-2 figcaption {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: var(--color-6);
  z-index: 1;
}

.portfolio-section-1-list-2 h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-section-1-list-2 span {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-3);
}
footer {
  background-color: var(--color-1);
  padding-top: 60px;
  padding-bottom: 60px;
}
footer > div {
  display: flex;
  justify-content: flex-start;
  grid-gap: 70px;
}
.footer-logo {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-6);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-logo > span {
  color: var(--color-2);
}
.footer-address {
  display: block;
}
.footer-address > span {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-6);
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-bottom: 9px;
}
.footer-address-mail {
  display: block;
  text-decoration: none;
  color: var(--color-4);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  margin-bottom: 9px;
}
.footer-address-tel {
  display: block;
  text-decoration: none;
  color: var(--color-4);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address-mail:hover,
.footer-address-mail:focus,
.footer-address-tel:hover,
.footer-address-tel:focus {
  color: var(--color-2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join-us {
  margin-top: 12px;
}
.footer-join-us > span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-6);
  margin-bottom: 20px;
}
.footer-social-links {
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
  list-style: none;
}
.footer-social-links li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links svg {
  fill: var(--color-6);
}
.footer-social-links li:hover,
.footer-social-links li:focus {
  background-color: var(--color-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
