@use "../utils/fonts" as font;
@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
@use "../utils/transitions" as tTiming;
.address {
  display: block;
  @include font.light;
  @include flex.secondary;
  grid-gap: 9px;
  &__title {
    font-style: normal;
    color: color.get("tertiary");
  }
}
.address__link {
  color: #ffffff99;
  &:hover,
  &:focus {
    color: color.get("active");
    transition: color tTiming.$primary;
  }
}
