@use "../utils/colors" as color;

@use "../utils/transitions" as tTiming;
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000033;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
  &__position {
    position: absolute;
    width: 94%;
    max-width: 450px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: color.get("tertiary");
    box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
      0px 2px 1px #00000033;
    border-radius: 4px;
    padding: 40px;
  }
  &__heading {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color.get("tertiary");
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color tTiming.$primary;
  &:focus,
  &:hover {
    border-color: color.get("active");
    transition: border-color tTiming.$primary;
  }
  &__icon {
    fill: #000;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
