.contact-form {
  &__grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 2px;
  }
  &__text {
    position: relative;
    font-size: 12px;
    line-height: 1.21;
    letter-spacing: 0.01em;
    color: getColor("secondary");
    margin-top: 10px;
    margin-bottom: 4px;
  }
  &__block {
    position: relative;
    width: 100%;
    height: 40px;
  }
  &__block-icon {
    position: absolute;
    top: 13px;
    left: 14px;
    fill: getColor("primary");
    transition: fill $transitionTimingPrimary;
    z-index: -1;
  }
}
.contact-form__block-input {
  width: 100%;
  height: 40px;
  border: 1px solid #21212133;
  border-radius: 4px;
  background-color: transparent;
  padding: 12px 42px;
  transition: border-color $transitionTimingPrimary;
  outline: none;
  &:hover,
  &:focus {
    border-color: getColor("active");
    transition: border-color $transitionTimingPrimary;
    & + .contact-form__block-icon,
    & + .contact-form__block-icon {
      fill: getColor("active");
      transition: fill $transitionTimingPrimary;
    }
  }
}
.contact-form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #21212133;
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color $transitionTimingPrimary;
  outline: none;
  resize: none;
  &:focus,
  &:hover {
    border-color: getColor("active");
    transition: border-color $transitionTimingPrimary;
  }
}
.contact-form__agreements {
  position: relative;
  @include flex(row);
  margin: 14px;
}
.contact-form__agreements-input {
  appearance: none;
  position: relative;
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color $transitionTimingPrimary,
    border-color $transitionTimingPrimary;
  &:focus,
  &:hover {
    border-color: getColor("active");
    transition: border-color $transitionTimingPrimary;
  }
  &:checked {
    background-color: getColor("active");
    border-color: getColor("active");
    transition: background-color $transitionTimingPrimary,
      border-color $transitionTimingPrimary;
    & + .contact-form__agreements-svg {
      opacity: 1;
      transition: opacity $transitionTimingPrimary;
    }
  }
}
.contact-form {
  &__agreements-svg {
    position: absolute;
    opacity: 0;
    top: 6px;
    left: 0;
    fill: getColor("tertiary");
    pointer-events: none;
    transition: opacity $transitionTimingPrimary;
  }
  &__agreements-label {
    @include lightFonts;
    color: getColor("secondary");
    text-align: center;
  }
  &__agreements-a {
    color: getColor("active");
  }
}
