@use "../utils/colors" as color;
@use "../utils/mixins" as flex;

.footer {
  background-color: color.get("background-primary");
  padding-top: 60px;
  padding-bottom: 60px;
  &__grid {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 60px;
  }
}
