@use "../utils/fonts" as font;
@use "../utils/colors" as color;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: color color.get("primary");
  min-width: 320px;
}
.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  &__heading {
    @include font.heading;
    text-align: center;
    margin-bottom: 30px;
  }
}
.background {
  background-color: color.get("background-secondary");
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
}
