@use "../utils/fonts" as font;
@use "../utils/colors" as color;
.logo {
  font-family: "Raleway";
  display: block;
  @include font.logo();
  &--header {
    color: color.get("logoHeader");
  }
  &--footer {
    color: color.get("tertiary");
    margin-bottom: 20px;
  }
  &__color {
    color: color.get("active");
  }
}
