.logo {
  font-family: "Raleway";
  display: block;
  @include logoFonts();
  &--header {
    color: getColor("logoHeader");
  }
  &--footer {
    color: getColor("tertiary");
    margin-bottom: 20px;
  }
  &__color {
    color: getColor("active");
  }
}
