@use "../utils/fonts" as font;
@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
@use "../utils/transitions" as tTiming;
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 6% 8%;
  background-color: color.get("tertiary");
  transition: opacity tTiming.$secondary, visibility tTiming.$secondary;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  @include flex.primary(column);

  &__nav {
    width: 100%;
    height: auto;
    @include flex.quinary(column);
    gap: 36px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  &__grid {
    width: 100%;
    @include flex.quaternary(column);
    gap: 64px;
  }
  &__nav-element {
    color: color.get("primary");
    transition: color tTiming.$primary;
    &:hover,
    &:focus {
      color: color.get("active");
      transition: color tTiming.$primary;
    }
  }

  &__contact {
    width: 100%;
    height: auto;
    @include flex.quinary(column);
    gap: 32px;
  }
  &__phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: color.get("active");
  }
  &__email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: color.get("secondary");
  }

  &__social {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: color.get("active");
  }
  &__nav-element--active {
    color: color.get("active");
  }
}

.mobile-menu__close-button {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 21px;
  right: 25px;
  background-color: color.get("tertiary");
  border: none;
  cursor: pointer;
}
.mobile-menu__close-button-icon {
  fill: color.get("primary");
  transition: fill tTiming.$primary;
  &:hover,
  &:focus {
    fill: color.get("active");
    transition: fill tTiming.$primary;
  }
}
.is-open {
  transition: opacity tTiming.$secondary, visibility tTiming.$secondary;
  pointer-events: all;
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
