@use "../utils/fonts" as font;
@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
@use "../utils/transitions" as tTiming;
.nav {
  margin-right: 345px;
  margin-left: 93px;
  @include flex.primary(row);
}
.nav__item {
  padding-top: 32px;
  padding-bottom: 32px;
  &:not(:last-child) {
    margin-right: 46px;
  }
  &--mark {
    position: relative;
  }
  &--mark::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: color.get("active");
    border-radius: 2px;
    cursor: default;
    pointer-events: none;
  }
}
.nav__link {
  color: color.get("primary");
  @include font.medium();
  transition: color tTiming.$primary;
  &:hover,
  &:focus {
    color: color.get("active");
    transition: color tTiming.$primary;
  }
  &--mark {
    color: color.get("active");
  }
}
