@use "../utils/fonts" as font;
@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
.order {
  width: 100%;
  height: auto;
  background-color: color.get("background-primary");
  @include flex.tertiary(column);
  gap: 30px;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url("../images/order.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 24.5%;
  padding-bottom: 24.5%;
  &__heading {
    width: 76%;
    @include font.heavy();
    text-align: center;
    text-transform: uppercase;
    color: color.get("tertiary");
  }
}
