.order {
  background-color: getColor("background-primary");
  padding: 200px 452px 200px 452px;
  background-image: linear-gradient(to bottom, #2f303a66 0%, #2f303a66 100%),
    url("../images/order.jpg");
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  &__heading {
    @include heavyFonts();
    text-align: center;
    text-transform: uppercase;
    color: getColor("tertiary");
    margin-bottom: 30px;
  }
}
