@use "../utils/fonts" as font;
@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
.our-strenghts {
  &__list {
    @include flex.tertiary(row);
    flex-wrap: wrap;
    gap: 30px;
  }
  &__element {
    flex-basis: 100%;
  }
  &__image {
    @include flex.tertiary(row);
    background-color: color.get("background-secondary");
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  &__heading {
    @include font.mediumHeavy();
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }
  &__text {
    @include font.light();
    color: color.get("secondary");
  }
}
