@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .header-contact {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .what-we-do {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
    &__icon {
      display: none;
    }
  }
  .our-strenghts__element {
    flex-basis: calc((100% - 30px) / 2);
  }
  .our-team__list-element {
    flex-basis: calc((100% - 30px) / 2);
  }
  .our-clients__element {
    flex-basis: calc((100% - 60px) / 3);
  }
  .join-us {
    margin-top: 8px;
    margin-left: 8%;
  }
}
