@use "../utils/colors" as color;
@use "../utils/mixins" as flex;
@use "../utils/transitions" as tTiming;
.social {
  @include flex.tertiary(row);
  grid-gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: fill tTiming.$primary, background-color tTiming.$primary;
  &:hover,
  &:focus {
    transition: fill tTiming.$primary, background-color tTiming.$primary;
  }
}
.social__link--our-team {
  margin-top: 16px;
  fill: color.get("quaternary");
  &:hover,
  &:focus {
    fill: color.get("tertiary");
    background-color: color.get("active");
  }
}
.social__link--join-us {
  background-color: #ffffff1a;
  fill: color.get("tertiary");
  &:hover,
  &:focus {
    background-color: color.get("active");
  }
}
