@mixin logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
@mixin light {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@mixin lightSecondary {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@mixin medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
@mixin mediumSecondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
@mixin mediumHeavy {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@mixin mediumHeavySecondary {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
@mixin heavy {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}
@mixin buttonPrimary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
@mixin buttonSecondary {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
@mixin heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
} ;
