@mixin flex($direction) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: &direction;
}
@mixin flexSecondary() {
  display: flex;
  flex-direction: column;
}
